# ---> Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
#
# Rope
.ropeproject

# Vim
*.swo
*.swp
venv

# cloned repositories
fabric8-*/

# file with top secret information ;)
runtest_my.sh
