behave
connexion
# behave-pytest # Disabled due to https://github.com/ribozz/behave-pytest/issues/2
pytest
jsonschema
requests
docker-py
pyjwt
pycrypto
boto3
semantic_version
voluptuous
pytest-voluptuous
