pycodestyle
boto3
botocore
certifi
chardet
fastlog
cycler
docutils
idna
jmespath
jsonschema
mako
markupsafe
matplotlib
numpy
pyparsing
python-dateutil
pytz
requests
s3transfer
six
urllib3
svgwrite
radon
ansi2html
pyrebase
pydocstyle
vulture