behave
# behave-pytest # Disabled due to https://github.com/ribozz/behave-pytest/issues/2
pytest
jsonschema
requests
docker-py
elasticsearch>=2.4.0,<5.0 # Constrain client to match current server version
